<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body>
    <% include ../partials/header %>
    <% include ../partials/menu %>
    <% include ../partials/new-post %>

    <div id="postContainer" class="container">
        <div class="row valign-wrapper">
            <div class="col s12 m8 l8 offset-m2 offset-l2 valign">
                <%  if (post.private) { %>
                <div class="card red hoverable">
                    <%  } else { %>
                    <div class="card hoverable">
                        <%  } %>
                        <div class="card-image">
                            <img class="lazy" data-src="<%= post.location %>">
                            <a class="btn-floating halfway-fab btn-large left">
                                <img class="lazy" data-src="<%= postUser.thumbnail %>">
                            </a>
                            <%  if (post.private) { %>
                            <a id="lockButton" class="btn-floating halfway-fab btn-large waves-effect">
                                <i class="material-icons black">lock</i>
                            </a>
                            <% } else { %>
                            <a id="likeButton" class="btn-floating halfway-fab btn-large waves-effect">
                                <i class="material-icons black">favorite</i>
                            </a>
                            <% } %>
                        </div>
                        <br>
                        <% if (post.private) { %>
                        <div class="card-content white-text">
                            <% } else { %>
                            <div class="card-content">
                                <% } %>
                                <span class="card-title">
                                    <a href="/user/<%= post.userid %>"><%= postUser.username %></a>
                                </span>
                                <p><i><%= post.caption %></i></p>
                                <%  if (!post.private) { %>
                                <form id="addComment">
                                    <div class="input-field">
                                        <label class="label-icon" for="text">
                                            <i class="material-icons">comment</i>
                                        </label>
                                        <input id="newComment" placeholder="add a comment!" type="text">
                                    </div>
                                </form>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <% include ../partials/footer %>
</body>

</html>